@import url("https://fonts.google.com/specimen/Barlow+Semi+Condensed:Wght@600;700&display=swap");

:root {
    /* Colors */

/* Primary */

--Scissors-Gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%);
--Paper-Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%);
--Rock-Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%);
--Lizard-Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%);
--Spock-Gradient: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);

/* Neutral */

--Dark-Text: hsl(229, 25%, 31%);
--Score-Text: hsl(229, 64%, 46%);
--Header-Outline: hsl(217, 16%, 45%);

/* Background */

--Radial-Gradient: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%), hsl(237, 49%, 15%));

}

body {
    font-family: "Barlow semi Condensed", sans-serif;
    background-color: hsl(237, 49%, 15%);
    background-image: var(--Radial-Gradient);
    min-height: 100vh;
    text-transform: uppercase; 
}

.container {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    border: 3px solid var(--Header-Outline);
    border-radius: 20px;
    padding: 1rem 1.4rem 1rem 2rem;
}

.logo img {
    height: 100%;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    width: 150px;
    height: 100%;
}

.score_title {
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    color: var(--Score-Text);
}

.score_number {
    font-size: 4rem;
    font-weight: 700;
    color: var(--Dark-Text);
}
